<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{#resume.basics}}
    <title>{{ name }}</title>
    {{/resume.basics}}
    {{!--
    <link
      rel="stylesheet"
      media="not print"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fuchsia.min.css"
    />
    --}}
    <link
      rel="stylesheet"
      {{!--
      media="print"
      --}}
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <style>
      {{{css}}}
    </style>
  </head>
  <body>
    {{#resume.basics}}
    <header>
      <section class="container">
        <h1>{{ name }}</h1>
        <h2>{{ label }}</h2>
      </section>
    </header>
    {{/resume.basics}}

    <main class="container">
      <div class="layout">
        <aside>
          {{> about}}
          {{> skills}}
          {{> languages}}
        </aside>
        <div>
          {{> summary}}
          {{> work}}
          {{> education}}
        </div>
      </div>
    </main>
  </body>
</html>
